body { margin-top: 51px; max-width: 980px; margin-left:auto; margin-right:auto;
    font-family: "나눔고딕","맑은 고딕","Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
/* body & design  */
.container-fluid {max-width: 980px;}
.navbar  .dropdown-toggle {height:34px;}
.dokuwiki  .insitu-footnote { background-color:yellow; padding:5px; border-radius:6px;}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../dokuhub/fonts/glyphicons-halflings-regular.eot');
  src: url('../dokuhub/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
    url('../dokuhub/fonts/glyphicons-halflings-regular.woff') format('woff'), 
    url('../dokuhub/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
    url('../dokuhub/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

 
    
/*############## contents  general elements #####################*/
.dokuwiki .contents 
{


    a.wikilink2 { color:#aaa; border-bottom: 1px dashed; }
    a.wikilink2:hover{ color: #a22;}

    a.urlextern { background-repeat: no-repeat;  padding-left:18px; background-position: 0 center;
    background-image: url(images/external-link.png);}
    
    .search_hit { background-color: #FF9;} 
    margin:0 0.5em;
    .breadcrumb { margin-bottom: 0;}

    img.media, img.mediacenter, img.medialeft, img.mediaright { .img-responsive; .img-rounded; margin-bottom:4px; }
    img.media {display:inline;}
    img.medialeft 	{ margin-right: 0.5em;}
    img.mediaright 	{ margin-left:  0.5em;}
    

    
    .editBox textarea.edit {width:100%;}
    .editBox .toolbutton {.btn; .btn-default; .btn-xs}

    .editButtons {
        margin:1em 0;
    /*    #edbtn__save { .btn-primary;}
      #edbtn__preview {.btn-success;}
*/    }
    .summary { 
        .well; .well-sm; .bg-warning;
        .nowrap {margin-bottom:0;} 
    }
     del { color:#7f7f7f;}

     .btn_secedit input.button{  .btn-sm}
     .section_highlight { 
        background-color: rgba(50,122,200,0.1)!important;
        border-radius: 6px;
    }

}

    #size__ctl {float: right;}
    #tool__bar {.btn-group;}
    
    
  /******************* breadcrumb ***********************/  
.dokuwiki .breadcrumb { 
    background-color: transparent; border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    span {margin-right:5px;}
}
/******************* Top navbar ***********************/
.dokuwiki .navbar {
    font-size:20px;background-color: #F5F5F5;border-bottom: 1px solid #E5E5E5; min-height: 48px;
    .navbar-toggle {margin-top:7px; margin-bottom:7px;}
    .avatar {margin-top:-4px;}
    a.iw_user { padding: 1px 0px 1px 18px!important;background-position: 0 center;}
}
.dokuwiki .navbar-brand { 
    height:48px;
    padding:10px;
	img { width:28px; height:28px; .img-circle;}
}

#bs-navbar-collapse-main {
    font-size:14px;
    .nav  li  a {padding-left:10px;padding-right:10px;}
}

#nav-bottom {margin-bottom:0;}

#qsearch {
    @__searchformwidth: 200px;
    margin:6px 0; padding:0;
    .button {display:none; }
    form {margin:0;padding:4px 0;}


    #qsearch__in  { .form-control; background: no-repeat center left url(images/search-icon-hi.png); 
        height:28px;  padding-left: 28px;
        min-width:@__searchformwidth;
        border: 1px solid #ccc;
		border-radius: 3px;
		outline: none;
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	}
    #qsearch__in:focus  { border-color: #51a7e8;
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
	}
      
    #qsearch__out { 
         font-size:14px;
         width: @__searchformwidth; max-height:700px; overflow-y:auto;
         padding: 9px;
         margin-bottom: 10px;
         border: 1px solid #e3e3e3;
         border-radius: 4px;
         display:none;
         ul {PADDING:0; }
     }
}

.visible-xs > .navbar-form { margin:0; }
 
 /* anchor location fix 위치 문제 해결 */
.dokuwiki .mode_show {
     h2, h3, h4, h5 { margin-top:-40px; padding-top:60px;} 
     }


.test {border:1px dashed red;}



     
/* iconfig__manager fix */
#config__manager  {
    .label {display:block; color:#333;    line-height:1;
    white-space:normal;}
    label {line-height:130%;font-weight:normal;}
     tr.default .input, tr.default input,  tr.default textarea, tr.default select, 
    .selectiondefault { background-color: #E4E4E4;}
    td.value .checkbox {margin-right:1em;}
}

/* bootstrap hover fix */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

input.edit { .form-control;}
.dokuwiki .footer {  background-color:#e4e4e4;}

.alert-notify {.alert-warning;}
.alert-error {.alert-danger;}

.tabspage  ul { 
    .navbar-nav; list-style-type: none; float:left; margin:10px;padding:0;      
    li {
        float:left; font-size: 13px;padding: 4px 8px;
        line-height: 20px; 
        a {color: #333;font-weight: bold;} 
        a:hover{color: #4183c4;text-decoration: none;}
    }
}


/******************* plugins ***********************/

#plugin__backlinks {
	ul li { display:inline-block; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;width:10em;margin-right:15px;}
	ul li div {.label; .label-default; ;background-color: #eee;}
	 
}
