
body { margin-top: 51px; }

.navbar  .dropdown-toggle {height:34px;}

#dw__toc { margin:0.5em; .well; .well-sm; max-width:300px; float:right;
	ul {list-style:none;margin:0;padding:0;}
	li {  padding-left: 1em; 
    text-indent: -.7em;}
}
.dokuwiki .contents 
{
	input.button {
	  	 .btn;	
    }
    
    .secedit input {
	.btn-mini;
}
#tool__bar {
	.btn-group;
}
    
    .editBox textarea.edit {width:100%;}
    #size__ctl {float:right;}
    .editButtons {
        margin:1em 0;
        #edbtn__save {.btn-primary;}
        #edbtn__preview {.btn-success;}
    }
    .summary { .well; .well-sm; .bg-warning;
        .nowrap {margin-bottom:0;} 
    }
}


#qsearch {
    #qsearch__in  { .form-control;}
    .button {display:none; }
    #qsearch__out { 
         max-width:13em; 
		 padding: 9px;
		 margin-bottom: 10px;

		 border: 1px solid #e3e3e3;
		 border-radius: 4px;
		 display:none;
		 ul {PADDING:0; }
	 }
 }
 .dokuwiki .contents {
    padding:1em;
    .btn_secedit .button{ .btn-primary;}
}
.test {border:1px dashed red;}

/* incompatiblity bug fix */
#config__manager  {
	.label {color:#333; white-space:normal; } 
    label {font-weight:normal;}
    td .input, td .value, 
	tr.default .input,
	tr.default input,
	tr.default textarea,
	tr.default select,
	.selectiondefault {
  	  	background-color: @ini_background_alt;}
}